.chart-container {
  width: 100%;
  min-height: 300px;
  max-height: 500px;
  position: relative;
}

canvas {
  display: block;
  width: 100% !important;
  height: 100% !important;
}

.daily-info {
  display: flex;
  justify-content: space-between;
  gap: 5px;
}
